@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
	--font-family: "Roboto", sans-serf;
	--normal-font: 400;
	--bold-font: 700;
	--bolder-font: 900;
	--bg-color: #100e17;
	--primary-color: #fcfcfc;
	--secondary-color: #009ccc;
	--card-bg: #1e1e25;
	--secondary-shadow: #a17a69;
	--bottom-margin: 0.5rem;
	--bottom-margin-2: 1rem;
	--line-height: 1.7rem;
	--transition: 0.3s;
}
/* Variables end */

html {
	scroll-behavior: smooth;
}

/* CSS Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* navbar section */

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

a:hover {
	color: var(--secondary-color);
}

body {
	font-family: var(--font-family);
	background-color: var(--bg-color);
	color: var(--primary-color);
}

nav {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 3.5rem;
	background-color: var(--bg-color);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 2rem;
}

nav a {
	color: var(--primary-color);
	transition: var(--transition);
}

nav a:hover {
	color: var(--secondary-color);
}

nav ul {
	display: flex;
	gap: 1.9rem;
}

nav ul li {
	font-weight: var(--bold-font);
}

.burger-menu {
	color: var(--primary-color);
	font-size: 2rem;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	display: none;
}

/* home section */

.home {
	height: 80vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5rem;
}

.hello p {
	font-size: 1.5rem;
}

.greeting {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.greeting-name {
	font-size: 3rem;
	font-weight: bold;
	letter-spacing: 2px;
}

.greeting-job {
	font-size: 2rem;
}

.about-me {
	width: 100%;
	display: flex;
	gap: 1rem;
	margin-bottom: 0.5rem;
}

.about-me:hover .about-me-icon {
	color: var(--secondary-color);
	transform: scale(1.2);
	transition: var(--transition);
}

.media-logo {
	width: fit-content;
	display: flex;
	justify-content: start;
	gap: 3.5rem;
	font-size: 1.5rem;
}

.logo:hover {
	color: var(--secondary-color);
	transform: scale(1.5);
	transition: var(--transition);
}

.profile-pic img {
	height: 30rem;
	border-radius: 50%;
	padding: 1rem;
	border: 1rem solid black;
}

/* about me section */

.about {
	padding: 9rem;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}

.about-image {
	width: 40vw;
}

.about-detail {
	width: 40vw;
	display: flex;
	flex-direction: column;
	gap: 2.1rem;
}

.about-detail > h1 {
	font-size: 2rem;
}

.about-detail > p {
	font-size: 1.1rem;
}

.about-skills {
	display: flex;

	flex-wrap: wrap;
}

.about-skill {
	font-size: 0.9rem;
	margin: 0.5rem 1rem;
	padding: 0.3rem 0.6rem;
	border: 2px solid var(--secondary-color);
	border-radius: 10px;
}

.about-detail > h1 {
	font-size: 2rem;
}

.cv-button,
.cv-button:hover {
	width: fit-content;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	font-weight: bold;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border-radius: 10px;
}

/* what i do */

.what-i-do {
	padding: 5rem;
}

.what-i-do > h1 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 3rem;
}

.cards {
	display: flex;
	justify-content: space-evenly;
}

.card {
	width: 22.5rem;
	padding: 1rem 2rem;
	box-shadow: 5px 5px 5px black;
	background-color: var(--card-bg);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
}

.card-topic {
	font-weight: bold;
	font-size: 1.5rem;
}

.card-icon1 {
	font-size: 3rem;
	font-weight: bold;
	color: purple;
}

.card-icon2 {
	font-size: 3rem;
	font-weight: bold;
	color: #eb1e39;
}

.card-icon3 {
	font-size: 3rem;
	font-weight: bold;
	color: #3835d8;
}

/* projects */

.projects {
	padding: 5rem;
}

.projects > h1 {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 3rem;
}

.project-card {
	padding: 0.5rem 1rem;
	background-color: var(--card-bg);
	display: flex;
}

.project-img-container {
	width: 50rem;
}

.project-img {
	width: 100%;
}

.project-text {
	display: flex;
	flex-direction: column;
	/* justify-content: end; */
	align-items: flex-end;
	gap: 1rem;
	width: 40%;
}

.featured {
	color: #009ccc;
	font-style: italic;
	font-size: 1rem;
	text-align: right;
}

.project-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.project-body {
	width: 120%;
	background-color: var(--bg-color);
	padding: 0.5rem 1rem;
	border-radius: 10px;
}

.project-skills {
	display: flex;
	justify-content: end;
	flex-wrap: wrap;
}

.project-footer {
	width: 100%;
	display: flex;
	justify-content: end;
	font-size: 1.5rem;
	margin-right: 1rem;
}

.mr-1 {
	margin-right: 1rem;
}
